

.header
  =image_tag "material/image2.png", class: "header-image"
  <br>
  - if user_signed_in?
    = link_to "新規投稿", new_post_path, class: "header__right--btn"
    ／
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    ／ユーザー名：
    = current_user.nickname

    
  - else
    = link_to "ログイン", new_user_session_path, class: "header__right--btn"
    = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
   

-# <br><br>
-# 今日使ったものを記入してみよう
-# .body

-# = form_with model: @post, class: :form, local: true do |form|

-#   = form.date_field :day, placeholder: :日にち？, class: :form_body
-#   <br>
-#   = form.text_field :item, placeholder: :何買った？, class: :form_body
-#   <br>
-#   = form.text_field :price, placeholder: :金額は？, class: :form_body
-#   <br>
  
-#   = form.select :category, [["投資"], ["消費"], ["浪費"]], prompt: '選択してください',class:  "box"
-#   <br>
-#   = form.text_field :note, placeholder: :理由（あれば）, class: :form_body


-#   <br>
-#   = form.submit '投稿する', class: :form__btn

-# <br>
-# 使った物リスト
-# %table
-#   %tr
-#     %th 日にち
-#     %th 何に使った？
-#     %th 金額（円）
-#     %th 分類は？ 
-#     %th 理由（あれば） 
-#     %th

-#   .__box
-#     -@posts.each do |index|   
-#       %tr
-#         %td
-#           = index.day
-#         %td
-#           = index.item         
-#         %td
-#           = index.price.to_s(:delimited, delimiter: ",")   
-#         %td.category_text
-#           = index.category
          
-#         %td
-#           = index.note
-#         %td
-#           %button 
-#             = link_to "編集" ,edit_post_path(index.id)
-#           %button 
-#             = link_to "削除" ,post_path(index.id), method: :delete
        
-#         %td
-#           = index.user.nickname