
.header
100円ジュースで投資を始めよう
<br>
お金の使い方を見直して、最高の人生を。100円ジュースから投資脳を鍛えるアプリ。

.body
  = link_to new_post_path do
    はじめる
<br><br><br>
使った物リスト
%table
  %tr
    %th 日にち
    %th 何に使った？
    %th 金額
    %th 分類は？ 

  .__box
    -@posts.each do |index|   
      %tr
        %td
          -# = index.created_at,format: :short
          = index.day
        %td
          = index.item 
        %td
          = index.price 
        %td
          = index.category 
