%table
  %tr
    %th 日にち
    %th 何に使った？
    %th 金額
    %th 分類は？ 
    %th 理由（あれば） 
    %th  

  .__box
    %tr
      %td
        = @post.day
      %td
        = @post.item 
      %td
        = @post.price
      %td
        = @post.category 
      %td
        = @post.note
      %td 
        = link_to "編集" ,edit_post_path(@post.id)
        <br>
        = link_to "削除" ,post_path(@post.id), method: :delete